flows (4).json
[
    {
        "id": "2dc84f804acb3fbb",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b0a7977d1a7f6432",
        "type": "mqtt in",
        "z": "2dc84f804acb3fbb",
        "name": "",
        "topic": "Average Light Intensity",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "4680bd93c463199c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 380,
        "y": 320,
        "wires": [
            [
                "3aebe1deb986d431",
                "f1198c1f9f38b541"
            ]
        ]
    },
    {
        "id": "3aebe1deb986d431",
        "type": "ui_gauge",
        "z": "2dc84f804acb3fbb",
        "name": "",
        "group": "075cd45365fd0ea5",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Average Light Intensity",
        "label": "units",
        "format": "{{payload}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 780,
        "y": 320,
        "wires": []
    },
    {
        "id": "f1198c1f9f38b541",
        "type": "ui_chart",
        "z": "2dc84f804acb3fbb",
        "name": "",
        "group": "075cd45365fd0ea5",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Variation Of Average Light Intensity",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 820,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "fb43dfb7877f1cee",
        "type": "ui_slider",
        "z": "2dc84f804acb3fbb",
        "name": "",
        "label": "Sampling Interval",
        "tooltip": "",
        "group": "075cd45365fd0ea5",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": 10,
        "step": 1,
        "className": "",
        "x": 470,
        "y": 460,
        "wires": [
            [
                "0a05fb7ebdf1eed6",
                "470de0efe2d6aa1f"
            ]
        ]
    },
    {
        "id": "0a05fb7ebdf1eed6",
        "type": "mqtt out",
        "z": "2dc84f804acb3fbb",
        "name": "",
        "topic": "Sampling Interval",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "98fe8427b5fb79b1",
        "x": 750,
        "y": 460,
        "wires": []
    },
    {
        "id": "db1b276525a7d85d",
        "type": "ui_slider",
        "z": "2dc84f804acb3fbb",
        "name": "",
        "label": "Sending Interval",
        "tooltip": "",
        "group": "075cd45365fd0ea5",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": 10,
        "step": 1,
        "className": "",
        "x": 440,
        "y": 620,
        "wires": [
            [
                "ae033517733554b1",
                "c2f110e901535ebd"
            ]
        ]
    },
    {
        "id": "ae033517733554b1",
        "type": "mqtt out",
        "z": "2dc84f804acb3fbb",
        "name": "",
        "topic": "Sending Interval",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "410b71fa358f1b1b",
        "x": 760,
        "y": 620,
        "wires": []
    },
    {
        "id": "fc40e40f96e9c30e",
        "type": "mqtt in",
        "z": "2dc84f804acb3fbb",
        "name": "",
        "topic": "Temperature",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "4680bd93c463199c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 410,
        "y": 760,
        "wires": [
            [
                "fbbcdddea7d5932e"
            ]
        ]
    },
    {
        "id": "fbbcdddea7d5932e",
        "type": "ui_gauge",
        "z": "2dc84f804acb3fbb",
        "name": "",
        "group": "fe654e7d3d02f900",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "units",
        "format": "{{payload}}",
        "min": 0,
        "max": "80",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 810,
        "y": 760,
        "wires": []
    },
    {
        "id": "5832f3f663adf5c9",
        "type": "ui_slider",
        "z": "2dc84f804acb3fbb",
        "name": "",
        "label": "Minimum Angle Of Sliding Window",
        "tooltip": "",
        "group": "071f92785572ddb9",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "120",
        "step": 1,
        "className": "",
        "x": 400,
        "y": 840,
        "wires": [
            [
                "76988960178feec9",
                "057bf2109a14a368"
            ]
        ]
    },
    {
        "id": "eb1a82026dea061f",
        "type": "ui_slider",
        "z": "2dc84f804acb3fbb",
        "name": "",
        "label": "Controling Factor",
        "tooltip": "",
        "group": "071f92785572ddb9",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "1",
        "step": "0.05",
        "className": "",
        "x": 390,
        "y": 980,
        "wires": [
            [
                "ac9daf26f4e1c276",
                "ff93396e7b2f48f9"
            ]
        ]
    },
    {
        "id": "eb82a24d82bbbefc",
        "type": "ui_slider",
        "z": "2dc84f804acb3fbb",
        "name": "",
        "label": "Ideal Storage Temperature",
        "tooltip": "",
        "group": "071f92785572ddb9",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": "10",
        "max": "40",
        "step": 1,
        "className": "",
        "x": 400,
        "y": 1160,
        "wires": [
            [
                "e838031a4ea2233f",
                "a0bf5597e6e5d310"
            ]
        ]
    },
    {
        "id": "76988960178feec9",
        "type": "mqtt out",
        "z": "2dc84f804acb3fbb",
        "name": "",
        "topic": "Minimum Angle",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "4680bd93c463199c",
        "x": 820,
        "y": 840,
        "wires": []
    },
    {
        "id": "ac9daf26f4e1c276",
        "type": "mqtt out",
        "z": "2dc84f804acb3fbb",
        "name": "",
        "topic": "Servo Motor Angle",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "4680bd93c463199c",
        "x": 850,
        "y": 980,
        "wires": []
    },
    {
        "id": "e838031a4ea2233f",
        "type": "mqtt out",
        "z": "2dc84f804acb3fbb",
        "name": "",
        "topic": "Ideal Temperature",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "4680bd93c463199c",
        "x": 870,
        "y": 1160,
        "wires": []
    },
    {
        "id": "470de0efe2d6aa1f",
        "type": "ui_text",
        "z": "2dc84f804acb3fbb",
        "group": "075cd45365fd0ea5",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Sampling Interval",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 810,
        "y": 540,
        "wires": []
    },
    {
        "id": "c2f110e901535ebd",
        "type": "ui_text",
        "z": "2dc84f804acb3fbb",
        "group": "075cd45365fd0ea5",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Sending Interval",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 800,
        "y": 700,
        "wires": []
    },
    {
        "id": "057bf2109a14a368",
        "type": "ui_text",
        "z": "2dc84f804acb3fbb",
        "group": "071f92785572ddb9",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Minimum Angle Of Sliding Window",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 840,
        "y": 920,
        "wires": []
    },
    {
        "id": "ff93396e7b2f48f9",
        "type": "ui_text",
        "z": "2dc84f804acb3fbb",
        "group": "071f92785572ddb9",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Controling Factor",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 890,
        "y": 1080,
        "wires": []
    },
    {
        "id": "a0bf5597e6e5d310",
        "type": "ui_text",
        "z": "2dc84f804acb3fbb",
        "group": "071f92785572ddb9",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Ideal Storage Temperature",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 860,
        "y": 1260,
        "wires": []
    },
    {
        "id": "4680bd93c463199c",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "075cd45365fd0ea5",
        "type": "ui_group",
        "name": "Light Intensity",
        "tab": "0b59995620b16145",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "98fe8427b5fb79b1",
        "type": "mqtt-broker",
        "name": "",
        "broker": "https://broker.hivemq.com",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "410b71fa358f1b1b",
        "type": "mqtt-broker",
        "name": "",
        "broker": "https://broker.hivemq.com",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "fe654e7d3d02f900",
        "type": "ui_group",
        "name": "Temperature Variation",
        "tab": "0b59995620b16145",
        "order": 5,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "071f92785572ddb9",
        "type": "ui_group",
        "name": "Position Of Sliding Window",
        "tab": "0b59995620b16145",
        "order": 6,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "0b59995620b16145",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]